* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }

/* navigation */
a {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}
a img {
    width: 50%; 
    height: auto;
}
@keyframes glow {
    0% {
      box-shadow: 0 0 20px rgba(237, 80, 119, 0.7); /* Larger values for glow */
    }
    50% {
      box-shadow: 0 0 40px rgba(237, 80, 119, 0.9); /* Larger values for glow */
    }
    100% {
      box-shadow: 0 0 20px rgba(237, 80, 119, 0.7); /* Larger values for glow */
    }
  }
  
  .playing img{
    animation: glow 1s infinite;
  }
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E89EB1;
    position: relative;
    width: 100%;
}
.header i.fas.fa-bars {
    border-radius: 50%;
    color: black;
    height: 20%;
    font-size: 50px;
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 1;
}
.header i.fas.fa-times-circle {
    color: #E89EB1;
    height: 20%;
    font-size: 50px;
    position: absolute;
    top: 5px;
    left: 10px;
}
.nav {
    display: flex;
    padding: 2% 70%;
    justify-content: space-between;
    align-items: center;
    
  }
  .content {
      margin-right: 220px; /* spacing para sa menu*/
  }
  nav img {
    width: 150px;
  }
  .nav-links {
      position: fixed;
      background: rgb(0, 0, 0);
      height: 100vh;
      width: 200px;
      top: 0;
      right: 0;
      text-align: left;
      z-index: 2;
      transition: 0.5s;
  }
  .nav-links ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 50%;
  }
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 25px 25px 25px 80px;
    position: relative;
  }
  .nav-links ul li a{
      color: #E89EB1;
      text-decoration: none;
      font-size: 30px;
  }
  .nav-links ul li::after{
      content: '';
      width: 0%;
      height: 2px;
      background: #000000;
      display: block;
      margin: auto;
      transition: 0.5s;
  }
  .nav-links ul li:hover::after{
      width: 100%;
      transition: 0.5s;
  }
  h1{
    color: gray;
    font-size: 36px;
    font-weight: 600;

  }
  /*-----ALBUMS-----*/
.albums{
    background-color: #E89EB1;
    text-align: center;
    padding: 250px 0;
    padding-top: 12%;
}
p1{
    color: black;
    font-size: 20px;
    font-weight: 200;
    line-height: 22px;
    padding: 0;
    TEXT-ALIGN: center;
}
.row{
    margin: 0%;
    display: flexbox;
    justify-content: space-between;
}
.albums-col{
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 5px;
    box-sizing: border-box;
    transition: 0.5s;
}

.albums-col img{
    box-shadow: -15px 10px black;
}
.albums-col:hover{
    transform: scale(1.20);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

h4{
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
#bornPinkAlbum {
    transition: transform 0.5s ease-in-out;
  }

  #KTL{
      cursor: pointer;
  }
  #SQ{
      cursor: pointer;
  }
  #SOLO{
      cursor: pointer;
  }
  #R{
      cursor: pointer;
  }
  #BP{
      cursor: pointer;
  }
  #ME{
      cursor: pointer;
  }
  #LL{
      cursor: pointer;
  }
  
  #progressSQ {
    -webkit-appearance: none;
    text-align: center;
    width: 200px;
    height: 6px;
    background: black;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0px;
    outline: none; 
  }
  
  #progressSQ::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ed5077;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(222, 191, 191, 0.22);
  }
  
 
  #progressSQ :hover::-webkit-slider-thumb {
    background: #ff199c;
  }

  #progressKTL {
    -webkit-appearance: none;
    text-align: center;
    width: 200px;
    height: 6px;
    background: black;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0px;
    outline: none; 
  }
  
  #progressKTL::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ed5077;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(222, 191, 191, 0.22);
  }
  
 
  #progressKTL :hover::-webkit-slider-thumb {
    background: #ff199c;
  }
  
  #progressSOLO {
    -webkit-appearance: none;
    text-align: center;
    width: 200px;
    height: 6px;
    background: black;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0px;
    outline: none; 
  }
  
  #progressSOLO::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ed5077;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(222, 191, 191, 0.22);
  }
  
 
  #progressSOLO :hover::-webkit-slider-thumb {
    background: #ff199c;
  }

  #progressR {
    -webkit-appearance: none;
    text-align: center;
    width: 200px;
    height: 6px;
    background: black;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0px;
    outline: none; 
  }
  
  #progressR::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ed5077;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(222, 191, 191, 0.22);
  }
  
 
  #progressR :hover::-webkit-slider-thumb {
    background: #ff199c;
  }

  #progressBP {
    -webkit-appearance: none;
    text-align: center;
    width: 200px;
    height: 6px;
    background: black;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0px;
    outline: none; 
  }
  
  #progressBP::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ed5077;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(222, 191, 191, 0.22);
  }
  
 
  #progressBP :hover::-webkit-slider-thumb {
    background: #ff199c;
  }

  #progressME {
    -webkit-appearance: none;
    text-align: center;
    width: 200px;
    height: 6px;
    background: black;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0px;
    outline: none; 
  }
  
  #progressME::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ed5077;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(222, 191, 191, 0.22);
  }
  
 
  #progressME :hover::-webkit-slider-thumb {
    background: #ff199c;
  }

  #progressLL {
    -webkit-appearance: none;
    text-align: center;
    width: 200px;
    height: 6px;
    background: black;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0px;
    outline: none; 
  }
  
  #progressLL::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ed5077;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(222, 191, 191, 0.22);
  }
  
 
  #progressLL :hover::-webkit-slider-thumb {
    background: #ff199c;
  }
  
  .audio-bar{
  
      text-align: center;
      height: 5vh;
      padding-top: -100px;
  }
  
  
  
  .song-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  #prev-song {
    transform: translateX(-100%);
  }
  
  #current-song {
    transform: translateX(0);
  }
  
  #next-song {
    transform: translateX(100%);
  }