*{
    margin: 0;
    padding: 0;
}
section{
    position: relative;
    display: flex;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
h1{
    position: relative;
    color: #fff;
    font-size: 3em;
}
p{
    position: relative;
    color: #fff;
    font-size: 1.2em;
}
.pink{
    height: 100vh;
    background: #E89EB1;
    justify-content: center;
}
.black{
    height: 100vh;
    background: #000;
    justify-self: center;
}
.curve{
    position: absolute;
    height: 225.px;
    width: 100%;
    bottom: 0;
}
.curve::before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #E89EB1;
    transform: translate(85%, 60%);
}
.curve::after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #E89EB1;
    transform: translate(-4%, 40%);
    z-index: -1;
}
